[Unit]
Description=BPM Detector
After=sound.target

[Service]
ExecStart=/home/tyler/tyler-schwenk.github.io/pi/services/bpm-detector/.venv/bin/python /home/tyler/tyler-schwenk.github.io/pi/services/bpm-detector/main.py
WorkingDirectory=/home/tyler/tyler-schwenk.github.io/pi/services/bpm-detector
Restart=always
User=tyler

[Install]
WantedBy=multi-user.target
